@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body{
    background-color: #EFF8E2;
}

.navStyle{
    background-color: #B6B1BE;
    color: #23967F;
    font-size: 35px;
}

.emphasisedText{
    color: #23967F; 
}

h1{
    color: #504A59;
    font-size: 50px;
}

p{
    color: #504A59;
    font-size: 20px;
}

.github-logo {
    width: 60px;
    height: 60px;
}

.roboto-slab-font {
  font-size: auto;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
    .navStyle {
        font-size: 16px;
        padding: 0.4rem !important;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .github-logo {
        width: 35px;
        height: 35px;
    }

    .roboto-slab-font {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }
}


