body{
    font-family: 'Arial', sans-serif;
    background-color: #EFF8E2;
}

.navStyle{
    background-color: #B6B1BE;
    color: #23967F;
    font-size: 35px;
}

h1{
    color: #504A59;
    font-size: 50px;
}

p{
    color: #504A59;
    font-size: 20px;
}

.github-logo {
    width: 60px;
    height: 60px;
}

/* Mobile responsive styles */
@media (max-width: 767px) {
    .navStyle {
        font-size: 16px;
        padding: 0.4rem !important;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .github-logo {
        width: 35px;
        height: 35px;
    }
}


